<ion-view view-title="Sobre">
  <ion-content ng-controller="sobreCtrl">
  <div class="list card">

  <div class="item item-avatar">
    <img src="img/sobre.png">
    <h2>Sobre o aplicativo</h2>
    <p>Saiba como utilizar</p>
  </div>

  <div class="item item-body">  
    <p>
      <strong class="ion-android-textsms"> Mensagem: </strong>
        <p>
          Aqui irei por uma novidade sobre o app sempre que der, se houver alguma atualização ou aviso, irei mostrar aqui:
        </p>
        <div class="card">
          <center>{{mensagem.aviso}}</center>
        </div>  
    </p>
    <p>
      <strong>Notícias</strong>
      	<p>
      		A parte do aplicativo aonde é aglomerado os sites de notícias da região, caso deseja adicionar alguma, envie um e-mail para oi@ttibau.me que eu te respondo como fazer</p>
    	</p>
        <strong class="royal"><span class="ion-ios-star"></span> Destaque</strong>
      <p>
          Na opção destaque ficará as empresas em destaque no aplicativo, tendo maior alcance e mais opções de exibição.
      </p>
    	<strong>Tele-Lista</strong>
    	<p>
    		Lista que contém todas as empresas cadastradas no aplicativo, para adicionar a sua, basta enviar um email para oi@ttibau.me que eu te respondo passando os procedimentos.
    	</p>
    	<strong>Apuração dos votos</strong>
    	<p>
    		Pela primeira vez, Rio Bonito contará com um aplicativo com as apurações dos votos em tempo real, obviamente, esta função só estará ativa no dia das eleições. Para atualizar a contagem, <strong>arraste a tela para baixo e ele automaticamente irá atualizar.</strong>
    	</p>
    	<strong>Fale comigo</strong>
    	<p>
    		Olá, me chamo Thiago Tibau e sou nascido e criado aqui em Rio Bonito, criei este aplicativo com a intenção de ajudar as pessoas, tudo feito com amor <3.
    		<p>Contatos:</p>
    		<p><span class="ion-ios-email-outline"></span> oi@ttibau.me</p>
			<p><span class="ion-social-github"></span> http://github.com/ttibau</p>
    	</p>
    	<p>E pode vir muito mais coisas, aos poucos vou atualizando!</p>
    <p>
      <!--<a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a> -->
    </p>
  </div>

</div>
  </ion-content>
</ion-view>
