<ion-modal-view>
  <ion-header-bar>
    <button class=class="button icon-left ion-chevron-left button-clear button-dark" ng-click="voltar()"> Voltar</button>
    <h1 class="title">Apuração de votos 2016 - Rio Bonito</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content data-ng-init="mostraMensagem()">
   <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="refresh()">
  </ion-refresher>
  <strong>Prefeito</strong>
    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="http://icons.iconarchive.com/icons/icons-land/vista-people/64/Office-Customer-Male-Light-icon.png">
        <h2>Candidato 01 - PSOL</h2>
        <p>Vice: Fulano</p>
        <p>Votos: 12323</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://icons.iconarchive.com/icons/icons-land/vista-people/64/Office-Customer-Male-Light-icon.png">
        <h2>Candidato 02 - PDT</h2>
        <p>Vice: Fulano</p>
        <p>Votos: 1231231</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://icons.iconarchive.com/icons/icons-land/vista-people/64/Office-Customer-Male-Light-icon.png">
        <h2>Candidato 03 - PSDB</h2>
        <p>Vice: Fulano</p>
        <p>Votos: 123123123</p>
      </a>
    </div>
    <strong>Vereador</strong>
    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="http://icons.iconarchive.com/icons/icons-land/vista-people/64/Office-Customer-Male-Light-icon.png">
        <h2>Candidato</h2>
        <p>Votos: 123123123</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://icons.iconarchive.com/icons/icons-land/vista-people/64/Office-Customer-Male-Light-icon.png">
        <h2>Candidato</h2>
        <p>Votos: 123123123</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://icons.iconarchive.com/icons/icons-land/vista-people/64/Office-Customer-Male-Light-icon.png">
        <h2>Candidato</h2>
        <p>Votos: 123123123</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://icons.iconarchive.com/icons/icons-land/vista-people/64/Office-Customer-Male-Light-icon.png">
        <h2>Candidato</h2>
        <p>Votos: 123123123</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://icons.iconarchive.com/icons/icons-land/vista-people/64/Office-Customer-Male-Light-icon.png">
        <h2>Candidato</h2>
        <p>Votos: 123123123</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://icons.iconarchive.com/icons/icons-land/vista-people/64/Office-Customer-Male-Light-icon.png">
        <h2>Candidato</h2>
        <p>Votos: 123123123</p>
      </a>

    </div>
  </ion-content>
</ion-modal-view>
