<ion-modal-view>
  <ion-header-bar>
    <button class=class="button icon-left ion-chevron-left button-clear button-dark" ng-click="voltar()"> Voltar</button>
    <h1 class="title">Apuração de votos 2016 - Rio Bonito</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <center><strong>Prefeito</strong></center>
    <div class="list" ng-repeat="dado in dados['0'] | orderBy: '-votos'">
        <a class="item item-avatar">
          <img src="img/user.png">
          <h2>{{dado.nome}} - {{dado.partido}}</h2>
          <p>Vice: {{dado.vice}}</p>
          <p>Votos: {{dado.votos}}</p>
        </a>
      </div>
    </div>
    <center><strong>Vereador</strong></center>
    <div class="list" ng-repeat="dado in dados['1'] | orderBy: '-votos'">
      <a class="item item-avatar">
        <img src="img/vereador.png">
        <h2>{{dado.nome}}</h2>
        <p>Votos: {{dado.votos}}</p>
      </a>
    </div>
  </ion-content>
</ion-modal-view>
