<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>Voltar
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/destaques">
          <span class="ion-android-star"></span> Destaques
        </ion-item>
        <ion-item menu-close href="#/app/cultura">
          <span class="ion-mic-c"></span> Arte & Cultura
        </ion-item>
        <ion-item menu-close href="#/app/noticias">
         <span class="ion-document-text"></span> Notícias
        </ion-item>
        <ion-item menu-close ng-click="pegaApuracao()">
          <span class="ion-ios-people"></span> Apuração dos votos 2016
        </ion-item>
        <ion-item menu-close href="#/app/search">
          <span class="ion-android-call"></span> Tele-Lista
        </ion-item>
        <ion-item menu-close href="#/app/meteorologia">
          <span class="ion-ios-partlysunny"></span> Meteorologia
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          <span class="ion-ios-information"></span> Sobre
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
