<ion-view view-title="GO - Rio Bonito" ng-controller="PlaylistsCtrl">
  <ion-content>
    <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="http://icons.iconarchive.com/icons/designcontest/ecommerce-business/64/news-icon.png">
      <h2>Título da notícia</h2>
      <p>Data: 07/08/2016</p>
      <p>Jornal: Jornal X</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="http://icons.iconarchive.com/icons/designcontest/ecommerce-business/64/news-icon.png">
      <h2>Título da notícia</h2>
      <p>Data: 07/08/2016</p>
      <p>Jornal: Jornal X</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="http://icons.iconarchive.com/icons/designcontest/ecommerce-business/64/news-icon.png">
      <h2>Título da notícia</h2>
      <p>Data: 07/08/2016</p>
      <p>Jornal: Jornal X</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="http://icons.iconarchive.com/icons/designcontest/ecommerce-business/64/news-icon.png">
      <h2>Título da notícia</h2>
      <p>Data: 07/08/2016</p>
      <p>Jornal: Jornal X</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="http://icons.iconarchive.com/icons/designcontest/ecommerce-business/64/news-icon.png">
      <h2>Título da notícia</h2>
      <p>Data: 07/08/2016</p>
      <p>Jornal: Jornal X</p>
    </a>	
</div>
  </ion-content>
</ion-view>
