<ion-view view-title="Tele-Lista Rio Bonito">
  <ion-content ng-controller="listaCtrl">
	  <a class="item item-icon-left" ng-click="pegaDados('acogue')">
	    <i class="icon ion-knife"></i>
	    Açogue
	  </a>

	  <a class="item item-icon-left" ng-click="pegaDados('beleza')">
	    <i class="icon ion-ios-body-outline"></i>
	    Beleza
	  </a>

	  <a class="item item-icon-left" ng-click="pegaDados('dentista')">
	    <i class="icon ion-android-happy"></i>
	    Cirurgião Dentista
	  </a>

	  <a class="item item-icon-left" ng-click="pegaDados('farmacia')">
	    <i class="icon ion-medkit"></i>
	    Farmácia
	  </a>
	

	  <a class="item item-icon-left" ng-click="pegaDados('gastronomia')">
	    <i class="icon ion-pizza"></i>
	    Gastronomia
	  </a>


	  <a class="item item-icon-left" ng-click="pegaDados('informatica')">
	    <i class="icon ion-mouse"></i>
	    Informática
	  </a>


	  <a class="item item-icon-left" ng-click="pegaDados('lojas')">
	    <i class="icon ion-android-cart"></i>
	    Lojas
	  </a>


	  <a class="item item-icon-left" ng-click="pegaDados('materiaisc')">
	    <i class="icon ion-settings"></i>
	    Mat. de construção
	  </a>


	  <a class="item item-icon-left" ng-click="pegaDados('mecanica')">
	    <i class="icon ion-model-s"></i>
	    Mecânica
	  </a>


	  <a class="item item-icon-left" ng-click="pegaDados('moveis')">
	    <i class="icon ion-ios-box-outline"></i>
	    Móveis
	  </a>


	  <a class="item item-icon-left" ng-click="pegaDados('saude')">
	    <i class="icon ion-heart"></i>
	    Saúde
	  </a>

</div>


  </ion-content>
</ion-view>
