<ion-modal-view>
  	<ion-header-bar>
	    <button class=class="button icon-left ion-chevron-left button-clear button-dark" ng-click="fecharModal()"> Voltar</button>
	</ion-header-bar> 
	<ion-content>
		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/info.png">
		    <h2>{{item.nome}}</h2>
		    <p>Informações</p>
		  </div>

		  <div class="item item-body">
		    <img src="img/info-empresa.png">
		    <p>
				<p><strong><span class="ion-android-textsms"></span> Nome: </strong>{{item.nome}}</p>
				<p><strong><span class="ion-android-call"></span> Telefone: </strong>{{item.telefone}}</p>
				<p><strong><span class="ion-android-map"></span> Endereço: </strong>{{item.endereco}}</p>
		    </p>
		  </div>

		</div>		
	</ion-content>
</ion-modal-view>	